<!DOCTYPE html>
<html>
  <head>
    <title>Coraline's Cafe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
      </div>
      <% end %>
      <div class="user-info">
        <% if current_user %>
          <p>Signed in as: <%= current_user.email %></p>
          <p><%= link_to "Sign Out", '/signout' %></p>
        <% else %>
          <p><%= link_to "Sign In", '/signin' %> | <%= link_to "Sign Up", '/signup' %></p>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
